@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply heading-1;
  }
  h2 {
    @apply heading-2;
  }
  h3 {
    @apply heading-3;
  }
  p {
    @apply text-base;
  }

  :root {
    --color-primary: 6 6 6;
    --color-background: 255 255 255;
    --color-accent: 255 0 184;
    --color-gray: 225 225 225;
    --color-light-gray: 120 120 120;
    --color-error: 255 54 54;
  }
  [data-theme="dark"] {
    --color-primary: 255 255 255;
    --color-background: 6 6 6;
    --color-accent: 255 92 209;
    --color-gray: 77 77 77;
    --color-light-gray: 118 118 118;
    --color-error: 255 54 54;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: 255 255 255;
      --color-background: 6 6 6;
      --color-accent: 255 92 209;
      --color-gray: 77 77 77;
      --color-light-gray: 118 118 118;
      --color-error: 255 54 54;
    }
  }
}

@layer components {
  .text-sm {
    @apply text-primary font-DMSans text-small;
  }
  .text-base {
    @apply text-primary font-DMSans text-based;
  }
  .text-xl {
    @apply text-primary font-DMSans text-large;
  }
  .heading-1 {
    @apply text-primary font-josefinSans text-heading1;
  }
  .heading-2 {
    @apply text-primary font-josefinSans text-heading2;
  }
  .heading-3 {
    @apply text-primary font-josefinSans text-heading3;
  }
  .button-primary {
    @apply py-2 px-6 border border-primary bg-transparent text-primary font-DMSans text-base capitalize hover:bg-accent hover:border-accent hover:cursor-pointer;
  }
  .input-primary {
    @apply py-3 border-b-[.0625rem] border-b-gray-light bg-transparent text-gray-light font-DMSans text-small placeholder:text-inherit focus:outline-none focus:placeholder:text-transparent focus:border-b-accent;
  }
  .accent-underline {
    @apply underline decoration-accent underline-offset-8;
  }
  .fill-svg {
    @apply fill-primary transition-[hover] group-hover:fill-accent;
  }
  .stroke-svg {
    @apply stroke-primary transition-[hover] group-hover:stroke-accent;
  }
  .li-dot {
    @apply pl-[1.5rem] relative list-inside before:content-[url('../public/shapes/dot.svg')] dark:before:content-[url('../public/shapes/dot-dark.svg')] before:w-1 before:h-1 before:-ml-[.7rem] before:-m-1 before:absolute;
  }
  .li-ol {
    @apply pl-[.7rem] marker:text-primary list-inside;
  }
  .flex-layout {
    @apply mt-[2.5rem] flex flex-col sm:flex-row flex-wrap justify-between gap-y-[2rem] lg:gap-y-[4rem];
  }
}
